body{
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: 900;
}

p{
    color: #000;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:#37c6ff;
}

.container-fluid{
    padding: 5% 15%;
}


/* Sections */

.white-section{
    background-color: #fff;
}

.grey-section{
    background-color: #8a8989;
    color: #fff;
}


/* Headings */

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    color: #000;
}

.section-heading{
    font-size: 2.5rem;
    line-height: 1.5;
    padding-bottom: 35px;
}

.feature-heading{
    font-size: 1.5rem;
    color: #000;
}


/* Navigation Bar */

.logo{
    width:100px;
    height: 100px;
    margin-right: 25px ;
}

.navbar-brand{
    font-family:'Courier New', Courier, monospace;
    font-size: 2.75rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

.navbar-toggler{
    align-self: auto;
    position: initial;
}


/* Title Section */

#title {
    text-align: left;
}

#title .container-fluid{
    padding: 2% 15% ;
}


/* Header Carousel */

.header-title{
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
    padding: 2rem 0;
}

.header-text{
    color:#fff;
    font-size: 1.25rem;
}

#header{
    padding-top: 190px;
}

#header .container-fluid{
    padding: 15% 25%;
}

.karate-header{
    background-image:linear-gradient(rgba(100, 100, 100, 0.6), rgba(100, 100, 100, 0.6)), url('../images/karate.jpg');
}

.kickboxing-header{
    background-image:linear-gradient(rgba(100, 100, 100, 0.6), rgba(100, 100, 100, 0.6)), url('../images/boxing.jpg');
}

.kung-fu-header{
    background-image:linear-gradient(rgba(100, 100, 100, 0.6), rgba(100, 100, 100, 0.6)), url('../images/kung-fu.jpg');
}

.fitness-header{
    background-image:linear-gradient(rgba(100, 100, 100, 0.6), rgba(100, 100, 100, 0.6)), url('../images/fitness.jpg');
   
}

.header-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 3% 15%;
    background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}


/* Classes Section */

#pricing{
    padding: 100px;
}

.pricing-col{
    padding: 3% 2%;
}

.card-header{
    background-color: #505050;
}

.card-body{
    background-color: #b1b1b1;
}

.next-class{
    font-size: 2rem;
}

/* Testimonials */

#testimonies{
    background-color: #fff;
    position: relative;
}

.testimony-box{
    padding: 5%;
}

.star-rating{
    padding-bottom: 30px;
}

.review{
    font-size: 1.2rem;
}

/* .icon1{
    color: #6e8ffa;
    margin-bottom: 30px;
}
.icon1:hover{
    color:#2606db;
} */


/* Contact Us Seciton */

#Contact-Us .big-heading{
    color: #fff;
}

.form-floating{
    color:#505050;
}

#floatingTextArea{
    height:205px;
}

.submit-button{
    margin: 3% 1%;
}


/* Footer Section */

#footer{
    background-color: #fff;
}

.social-logo{
    width: 2%;
    margin: 20px 10px;
}

.copyright{
    color:#8f8f8f;
}


/* Responsive Media */

@media (max-width: 1028px){
    
    .title-image{
        position: static;
        width: 60%;
        transform: rotate(0);
    }

    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
   }

   #title .container-fluid{
    padding-left:5%;
    padding-right: 5%;
   }
}

@media(max-width:900px) {
    .navbar .navbar-brand {float:none;display: inline-block;}
    .navbar .navbar-nav>.nav-item { float: none; margin-left: .1rem;}
    .navbar .navbar-nav {float:none !important;}
    .nav-item{width:100%;text-align:left;} 
    .navbar-toggler {display: block !important;}
    .navbar-toggleable-sm.collapse {display:none !important}
    .navbar-toggleable-sm.collapse.in {display:block !important}
  }

@media(max-width:678px){
    .navbar-brand{
        font-size: 2.25rem;
    }
}

@media(max-width:592px){
    .navbar-brand{
        font-size: 2.25rem;
    }

}
